.container{
   background-color: gray;
}
.chimney{
  position: absolute;
    background-color: black;
    height: 100px;
    width: 50px;
    transform: translateX(1070%) translateY(70%);
}
.box{
    background-color:  brown;
    border-top: none;
    height: 370px;
    width: 400px;
    transform: translateY(0) translateX(500px);
    background-image: radial-gradient(green 50%, transparent 40%),
    radial-gradient(green 50%, transparent 40%);
    background-position: 0 0, 5em 5em;
    background-size: 1000px 1000px;
}
.window{
    background: #96ebff;
    z-index:3;
    height: 100px;
    width: 100px;
    transform: translateY(40px) translateX(40px);
}
.window::before,
.window::after {
  content: '';
  position: absolute;
  background: silver;
}
.window::before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
}
.window::after {
  top: 50%;
  height: 1px;
  width: 100%;
}
.door{
    background-color:  black;
    height: 220px;
    width: 120px;
    transform: translateY(42px) translateX(230px);
}
.latch{
    background-color: wheat;
    position: relative;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    transform: translateY(100px) translateX(10px);
}
.triangle-up > .circle{
    background-color: black;
    position: absolute;
    border-radius: 50%;
    height: 70px;
    width: 70px;
    transform: translateY(150px);
  }
  .triangle-up > .circle::before,
  .triangle-up > .circle::after {
  content: '';
  position: absolute;
  background: silver;
}
.triangle-up > .circle::before {
  top: 0;
  left: 50%;
  height: 100%;
  width: 1px;
}
.triangle-up > .circle::after {
  top: 50%;
  height: 1px;
  width: 100%;
}
  .triangle-up{
    border-left: 225px solid transparent;
    border-right: 212px solid transparent;
    border-bottom: 211px solid brown;
    height: 0px;
    width: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateX(483px);

  }